<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydrangea Git TimeWarp</title>
    <link rel="icon" href="/static/favicon.ico" type="image/icon">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header id="header">
        <h1>Hydrangea Git TimeWarp</h1>
    </header>

    <section id="section-repo-info">
        <div id="div-repo-info">
            <table id="table-repo-info">
                <tr>
                    <th>
                        <p>Repo Name</p>
                    </th>
                    <td>
                        <p id="p-repo-name"></p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>Repo Path</p>
                    </th>
                    <td>
                        <p id="p-repo-path"></p>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section id="section-git-commits">
        <div id="div-git-commits">
            <table id="table-git-commits">
                <thead>
                    <th>
                        <p>Commit</p>
                    </th>
                    <th>
                        <p>Author Name</p>
                    </th>
                    <th>
                        <p>Author Email</p>
                    </th>
                    <th>
                        <p>Author Date</p>
                    </th>
                    <th>
                        <p>Committer Name</p>
                    </th>
                    <th>
                        <p>Committer Email</p>
                    </th>
                    <th>
                        <p>Committer Date</p>
                    </th>
                    <th>
                        <p>Message</p>
                    </th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </section>

    <script src="/static/script.js"></script>

</body>

</html>