<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydrangea Git TimeWarp</title>
    <link rel="icon" href="/static/favicon.ico" type="image/icon">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Hydrangea Git TimeWarp</h1>

    <section id="section-git-commits-table">
        <div id="div-git-commits-table">
            <table id="table-git-commits-table">
                <thead>
                    <th>Commit</th>
                    <th>Author Name</th>
                    <th>Author Email</th>
                    <th>Author Date</th>
                    <th>Committer Name</th>
                    <th>Committer Email</th>
                    <th>Committer Date</th>
                    <th>Message</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </section>

    <script src="/static/script.js"></script>

</body>

</html>